body{
	background-color:#07ff66;
}


img{
	opacity: 0.9;
	border-radius: 50%;
	width:60%;
  padding-left: 40px;
	margin-top: 10%;
	margin-left: 13%;
  margin-right: auto;
}

h1,h2,h3,h4,h5,h6{
  color: #5b5b5b;
  font-size: 40px;
}

p{
  color: #5b5b5b;
  font-size: 20px;
}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ff0707;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar name {
  text-align:center;
  position: relative;
  padding-top:40px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 36px;
  color: Black;
  display: block;
  font-family: 'Indie Flower', cursive;

}

.sidebar text {
  position: relative;
  padding-top:30px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  color: Black;
  display: block;
  font-family: 'Indie Flower', cursive;
  transform: rotate(20deg);

}

.content {
  margin-left: 300px; 
  font-size: 28px; 
  padding: 0px 10px;
  font-family: 'Hanalei Fill', cursive;
  transform: rotate(-10deg);

}